html
  head
    title= 'Change password'
  body(style={'text-align': 'center'})
    form(action=url method="post")
      label(for="password") New Password 
      input(
        type='password'
        name='password'
        id='password'
        placeholder='Enter new password'
      )
      input(
        type='hidden'
        name='token'
        value=token
      )
      input(
        type='hidden'
        name='email'
        value=email
      )
      input(
        type='submit'
        value="Save"
      )
